{% extends "_base.html" %}

{% block body %}<body class="error404">{% endblock %}
{% block title %}Acamar | Error 404{% endblock %}

{% block content %}

<div class="page-404">
    <div class="container">
        <div class="error404-wrapper">
            <div class="error404-title">
                <h1>Hledali jste pozici<br>
                    <strong>Programátor hvězdy smrti?</strong>
                </h1>
            </div>
            <div class="error404-image">
                <img src="static/images/404-planet.png" alt="Hvězda smrti 404">
            </div>
            <div class="error404-back">
                <span>Ne?</span><br>
                <a href="index.html" title="Vrátit se zpět">Zkuste se vrátit zpět</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
