{% extends "_base.html" %}

{% block title %}Acamar | Akarta{% endblock %}

{% block content %}

<div class="page-akarta pb-5">
    <div class="main-banner-akarta">
        <div class="title-wrapper text-center text-lg-left container container-lg">
            <h1 class="main-title">Propojujeme firmy<br />a IT experty pro dobré vztahy<br />a vydařené projekty</h1>
            <p class="subtitle text-weight-light text-white">A nejdeme te, který vás bude bavit</p>
        </div>
    </div>

    <div class="container container-lg">
        <div class="py-4 py-md-5 text-center">
            <h2>
                <span class="text-weight-bold">Svým kontraktorům jsme vyjednali slevy</span><br>
                <span class="text-weight-light">na kávu i služby profesionálů</span>
            </h2>
            <p class="mt-4">K získání slevy vám stačí nahlásit u vybraného poskytovatele služby své jméno a číslo Acarty.<br>
                Jen při nákupu kávy je potřeba předložit kartu fyzicky.</p>
        </div>

        <div id="akarta-accordion" class="accordion">
            <div class="accordion-card">
                <div class="accordion-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="accordion-header-icon">
                        <img src="static/images/calculator.png" class="Učetnictví">
                    </div>
                    <div class="accordion-header-title">
                        <h3>Účetnictví</h3>
                        <p>Petra Řeháčková - opravdový profík, který rozumí účetnictví a má trpělivost na komunikaci s úřady.</p>
                    </div>
                </div>

                <div id="collapseOne" class="collapse accordion-body" aria-labelledby="headingOne" data-parent="#akarat-accordion">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
            </div>

            <div class="accordion-card">
                <div class="accordion-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <div class="accordion-header-icon">
                        <img src="static/images/scales.png" class="Právní služby">
                    </div>
                    <div class="accordion-header-title">
                        <h3>Právní služby</h3>
                        <p>Přemek opravdu ví. Umí vyřešit cokoliv. </p>
                    </div>
                </div>

                <div id="collapseTwo" class="collapse accordion-body" aria-labelledby="headingTwo" data-parent="#akarat-accordion">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
            </div>

            <div class="accordion-card">
                <div class="accordion-header" id="headingThird" data-toggle="collapse" data-target="#collapseThird" aria-expanded="true" aria-controls="collapseThird">
                    <div class="accordion-header-icon">
                        <img src="static/images/aeroplane.png" class="Letuška.cz">
                    </div>
                    <div class="accordion-header-title">
                        <h3>Letuška.cz</h3>
                        <p>Letenky a ubytování za skvělé ceny.</p>
                    </div>
                </div>

                <div id="collapseThird" class="collapse accordion-body" aria-labelledby="headingThird" data-parent="#akarat-accordion">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
            </div>

            <div class="accordion-card">
                <div class="accordion-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <div class="accordion-header-icon">
                        <img src="static/images/lab.png" class="Kávový klub">
                    </div>
                    <div class="accordion-header-title">
                        <h3>Kávový klub</h3>
                        <p>Chlapci a dívky, kteří vědí o kávě vše. </p>
                    </div>
                </div>

                <div id="collapseFour" class="collapse accordion-body" aria-labelledby="headingFour" data-parent="#akarat-accordion">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
            </div>

            <div class="accordion-card">
                <div class="accordion-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <div class="accordion-header-icon">
                        <img src="static/images/house.png" class="Realitní služby">
                    </div>
                    <div class="accordion-header-title">
                        <h3>Realitní služby</h3>
                        <p>Michal Pospíšil je fakt profík - spolehlivý a opravdu umí. </p>
                    </div>
                </div>

                <div id="collapseFive" class="collapse accordion-body" aria-labelledby="headingFour" data-parent="#akarat-accordion">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
            </div>

            <div class="accordion-card">
                <div class="accordion-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    <div class="accordion-header-icon">
                        <img src="static/images/hammer.png" class="Kwek">
                    </div>
                    <div class="accordion-header-title">
                        <h3>Kwek</h3>
                        <p>Nejlepší stavební firma na trhu - rozumějí stavbám a drží slovo.</p>
                    </div>
                </div>

                <div id="collapseSix" class="collapse accordion-body" aria-labelledby="headingSix" data-parent="#akarat-accordion">

                    <strong>Kdo to je:</strong>
                    <ul>
                        <li>Komplexní dodavatel staveb na klíč, rekonstrukcí a poradenství.</li>
                    </ul>


                    <strong>Co nabízí a za kolik:</strong>
                    <ul>
                        <li>Kompletní dodávky stavebních a interiérových prací včetně ingeneeringu staveb.</li>
                        <li>Rekonstrukce bytů nebo domů včetně veškerého papírování.</li>
                        <li>Ceny individuálně</li>
                    </ul>

                    <strong>
                        Tel: +420 602 454 627<br>
                        Email: <a href="mailto:info@kweku.cz">info@kweku.cz</a><br>
                        Web: <a href="http://www.kweku.cz">http://www.kweku.cz</a>
                    </strong>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
