{% extends "_base.html" %}

{% block title %}Acamar | Contact{% endblock %}

{% block content %}

<div class="page-contact">
    <div class="main-banner-contact">
        <div class="title-wrapper text-center text-lg-left pl-md-5  container container-lg">
            <h1 class="main-title">Propojujeme firmy<br />a IT experty pro dobré vztahy<br />a vydařené projekty</h1>
            <p class="subtitle text-weight-light text-white">A nejdeme te, který vás bude bavit</p>
        </div>
    </div>
    <div class="section section-be-heard">
        <div class="container container-sm">
            <div class="d-flex justify-content-center align-items-center pb-5">
                <h3 class="subtitle-large">Ozvěte se nám napřímo</h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 pb-4">
                    <div class="card header-card box-shadow-custom">
                        <div class="card-top">
                            <p class="subtitle">Hledáte IT profesionály pro svůj projekt? Spolu dohodneme, jak vám Acamar pomůže.</p>
                        </div>
                        <div class="card-body">
                            <div class="pb-5">
                                <div><a href="#" class="icon-text icon-phone-no-ring text-normal text-underline-none">777 777 777</a></div>
                                <div><a href="#" class="icon-text icon-message text-normal text-underline-none">ondra@nový.cz</a></div>
                                <div><a href="#" class="icon-text icon-in text-normal text-underline-none">ondra-linkedin.cz/ondra</a></div>
                            </div>
                            <div>
                                <h5 class="subtitle-normal">Illya Pavlov</h5>
                                <p class="about">jednatel</p>
                            </div>
                        </div>
                        <div class="image-wrapper">
                            <img src="static/images/blahovcova-sarka.png" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 pb-4">
                    <div class="card header-card box-shadow-custom">
                        <div class="card-top">
                            <p class="subtitle">Hledáte IT profesionály pro svůj projekt? Spolu dohodneme, jak vám Acamar pomůže.</p>
                        </div>
                        <div class="card-body">
                            <div class="pb-5">
                                <div><a href="#" class="icon-text icon-phone-no-ring text-normal text-underline-none">777 777 777</a></div>
                                <div><a href="#" class="icon-text icon-message text-normal text-underline-none">ondra@nový.cz</a></div>
                                <div><a href="#" class="icon-text icon-in text-normal text-underline-none">ondra-linkedin.cz/ondra</a></div>
                            </div>
                            <div>
                                <h5 class="subtitle-normal">Illya Pavlov</h5>
                                <p class="about">jednatel</p>
                            </div>
                        </div>
                        <div class="image-wrapper">
                            <img src="static/images/blahovcova-sarka.png" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 pb-4">
                    <div class="card header-card box-shadow-custom">
                        <div class="card-top">
                            <p class="subtitle">Hledáte IT profesionály pro svůj projekt? Spolu dohodneme, jak vám Acamar pomůže.</p>
                        </div>
                        <div class="card-body">
                            <div class="pb-5">
                                <div><a href="#" class="icon-text icon-phone-no-ring text-normal text-underline-none">777 777 777</a></div>
                                <div><a href="#" class="icon-text icon-message text-normal text-underline-none">ondra@nový.cz</a></div>
                                <div><a href="#" class="icon-text icon-in text-normal text-underline-none">ondra-linkedin.cz/ondra</a></div>
                            </div>
                            <div>
                                <h5 class="subtitle-normal">Illya Pavlov</h5>
                                <p class="about">jednatel</p>
                            </div>
                        </div>
                        <div class="image-wrapper">
                            <img src="static/images/blahovcova-sarka.png" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 pb-4">
                    <div class="card header-card box-shadow-custom">
                        <div class="card-top">
                            <p class="subtitle">Hledáte IT profesionály pro svůj projekt? Spolu dohodneme, jak vám Acamar pomůže.</p>
                        </div>
                        <div class="card-body">
                            <div class="pb-5">
                                <div><a href="#" class="icon-text icon-phone-no-ring text-normal text-underline-none">777 777 777</a></div>
                                <div><a href="#" class="icon-text icon-message text-normal text-underline-none">ondra@nový.cz</a></div>
                                <div><a href="#" class="icon-text icon-in text-normal text-underline-none">ondra-linkedin.cz/ondra</a></div>
                            </div>
                            <div>
                                <h5 class="subtitle-normal">Illya Pavlov</h5>
                                <p class="about">jednatel</p>
                            </div>
                        </div>
                        <div class="image-wrapper">
                            <img src="static/images/blahovcova-sarka.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-form">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center pb-5 text-center">
                <h3 class="subtitle-large">Nebo nám pošlete zprávu<br /><span class="text-weight-light">Odpovíme nejpozději do 2 pracovních dní, spíš ale dřív</span></h3>
            </div>
           <div class="d-flex flex-column align-items-center">
               <div>
                   <form>
                       <div class="form-group">
                           <label class="label" for="formGroupExampleInput">Vaše jméno</label>
                           <input type="text" class="form-control" id="formGroupExampleInput">
                       </div>
                   </form>
               </div>
               <div>
                   <form>
                       <div class="form-group">
                           <label class="label" for="formGroupExampleInput">E-mail, kam vám odpovíme</label>
                           <input type="text" class="form-control" id="formGroupExampleInput">
                       </div>
                   </form>
               </div>
               <div>
                   <div class="form-group form-select">
                       <label class="label">Co byste rádi probrali?</label>
                       <select class="form-control">
                           <option>Obecný dotaz</option>
                       </select>
                   </div>
               </div>
               <div>
                   <form>
                       <div class="form-group">
                           <label class="label" for="formGroupExampleInput">Vaše zpráva</label>
                           <input type="text" class="form-control message-control" id="formGroupExampleInput">
                       </div>
                   </form>
               </div>
           </div>
            <div class="d-flex justify-content-center py-md-3">
                <div><button class="button button-secondary">ODESLAT</button> </div>
            </div>
        </div>
    </div>
    <div class="section section-map">
        <div id="map"></div>
    </div>
</div>


{% endblock %}
