{% extends "_base.html" %}

{% block title %}Acamar | Detail{% endblock %}

{% block content %}

<div class="page-detail">
    <div class="main-banner-detail">
        <div class="container container-lg">
            <div class="text-center text-lg-left px-sm-5 px-xl-0">
                <h4 class="main-title">PHP Developer, který bude nadšený do e-commerce</h4>
            </div>
        </div>
    </div>
    <div class="section pt-md-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 recruitment-text">
                    <div>
                        <p>Pojďte s námi stavět datové sklady, zpracovávat Big data a zavádět Business Intelligence do velkých firem, jako je Ikea, ČSOB, Equa Bank nebo třeba Tyrecheck. V týmu vývojářů a konzultantů, kteří rozumí své práci, jsou zvyklí se konstruktivně domluvit a rádi s nimi půjdete i na pivo.</p>
                    </div>
                    <div class="row mt-4 mb-5">
                        <div class="col-6 col-md-4 mt-3 mt-md-0">
                            <div class="d-flex">
                                <div><img src="static/images/small-icons/computer.png" /></div>
                                <h5 class="subtitle ml-2">Praha</h5>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 mt-3 mt-md-0">
                            <div class="d-flex">
                                <div><img src="static/images/small-icons/computer.png" /></div>
                                <h5 class="subtitle ml-2">HPP/IČ</h5>
                            </div>
                        </div>
                        <div class="pl-md-0 col-12 col-md-4 mt-3 mt-md-0">
                            <div class="d-flex">
                                <div><img src="static/images/small-icons/computer.png" /></div>
                                <h5 class="subtitle ml-2">Nástup podle<br />domluvy</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4 class="subtitle-normal pb-3">Budeme si rozumět, pokud...</h4>
                        <ul class="pl-3">
                            <li>Řešení DWH/BI už máte za sebou a přesně víte, co to obnáší.</li>
                            <li>Znáte moderní analytické platformy a architektury, například Lambda Architecture.</li>
                            <li>Orientujete se v nástrojích pro on-premise, cloud a hybridní scénáře.</li>
                            <li>Znáte technologie, které se hodí pro zpracování Big Data – třeba Hadoop, NoSQL database, MPP databáze.</li>
                            <li>Vyznáte se v technologiích vhodných pro IoT řešení.</li>
                            <li>Znáte procesy a nástroje využitelné pro governance analytické platformy.</li>
                            <li>Domluvíte se s klientem česky i anglicky. Tak, aby cítil, že chápeme jeho problém a dovedeme mu pomoct.</li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="subtitle-normal pb-3">Práci vám usnadní, jestli...</h4>
                        <ul class="pl-3">
                            <li>Mluvíte německy.</li>
                            <li>Máte zkušenost s ETL nástroji, především SAP Data Services.</li>
                            <li>Ovládáte Enterprise Architect – modelování DWH, Power Designer.</li>
                            <li>Znáte technologie, které se hodí pro zpracování Big Data – třeba Hadoop, NoSQL database, MPP databáze.</li>
                        </ul>
                    </div>
                    <div class="pb-5">
                        <h4 class="subtitle-normal pb-3">Jak bude práce u nás vypadat?</h4>
                        <p class="text-small mb-3">Stereotyp u nás nehrozí. Například budete...</p>
                        <ul class="pl-3">
                            <li>Zpracovávat data pro IoT scénáře, hledat řešení pro integraci a využití Big Data technologií, zapojovat cloudová úložiště. </li>
                            <li>Vyhodnocovat RFI různých vendorů a komunikovat s nimi.</li>
                            <li>Upravovat a rozvíjet stávající DWH řešení v Oracle databázi.</li>
                            <li>U navrhovaných řešení vyhodnocovat i celkové náklady na vlastnictví.</li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="subtitle-normal pb-3">Na jakém projektu konkrétně?<br />Dohodneme se osobně.</h4>
                    </div>
                </div>
                <div class="col-12 col-md-4 recruitment px-0">
                    <div class="recruitment-wrapper px-3">
                        <div class="text-center text-md-left pb-4">
                            <h4 class="title">Provedu vás náborem</h4>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-4 person-wrapper-image">
                                <img class="person-image" src="static/images/blahovcova-sarka.png" />
                            </div>
                            <div class="col-8 pt-3">
                                <h5 class="person-title">Katka Nová</h5>
                                <p>Recrutierka</p>
                                <p class="mb-4 mt-4">Máte další otázky k vypsané pozici? Napište mi, se vším poradím.</p>
                                <div><a class="message text-small">Napište mi e-mail</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="px-3 py-5 interesting-wrapper">
                        <h3 class="title pb-3 text-center text-md-left">Láká vás to?<br />Ozvěte se!<br /><span class="text-weight-light">Odpovíme vždy<br />a každému.</span></h3>
                        <div class="d-flex justify-content-center justify-content-md-start pb-4"><div><button type="button" class="button button-secondary subtitle-small">ODPOVĚZTE NA POZICI</button></div></div>
                        <div class="d-flex justify-content-center justify-content-md-start"><a class="mail text-small">Napište mi e-mail</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-4">
            <a class="back-position text-small">Zpět na výpis pozic</a>
        </div>
    </div>
</div>

{% endblock %}
