{% extends "_base.html" %}

{% block title %}Acamar | Login Course{% endblock %}

{% block content %}
<div class="page-login-course">
    <div class="main-banner-course">
        <div class="container container-lg">
            <div class="text-center text-lg-left px-sm-5 px-xl-0">
                <h4 class="main-title title-login-course">Přihlášení ke kurzu </h4>
                <h4 class="subtitle-large text-weight-light text-white">Zatím nebudete nic platit, platba bude<br/>následovat
                    až po úvodním online testu.</h4>
            </div>
        </div>
    </div>
    <div class="container container-lg">
        <div class="row">
            <div class="col-12 col-lg-6 section-about-you d-flex flex-column align-items-center p-0">
                <div class="section">
                    <div class="section-form">
                        <div class="d-flex flex-column align-items-center">
                            <form>
                                <h1 class="subtitle-large text-center text-md-left">Údaje o vás</h1>
                                <div class="form-group">
                                    <label class="label" for="formGroupExampleInput">Jméno a příjmení</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput">
                                </div>
                                <div class="form-group">
                                    <label class="label" for="formGroupExampleInput">Váš telefon</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput">
                                </div>
                            </form>
                            <div>
                                <div class="form-group form-select">
                                    <label class="label">Vyberte kurzy</label>
                                    <select class="form-control">
                                        <option>-vyberte-</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div class="form-group form-select">
                                    <label class="label">Vyberte termín kurzu</label>
                                    <select class="form-control">
                                        <option>-vyberte-</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <form>
                                    <div class="form-group">
                                        <label class="label" for="formGroupExampleInput">Napište nám, co očekáváte
                                            od kurzu</label>
                                        <input type="text" class="form-control message-control"
                                               id="formGroupExampleInput">
                                    </div>
                                </form>
                            </div>
                            <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                <form>
                                    <div class="form-group">
                                        <label class="label" for="formGroupExampleInput">Přiložte CV, ať vám kurz
                                            přizpůsobíme</label>
                                        <input type="text" class="form-control form-control-small"
                                               id="formGroupExampleInput">
                                    </div>
                                </form>
                                <div class="d-flex align-items-center justify-content-center pl-md-2">
                                    <a class="icon-text icon-diplomatic text-small">Napište mi e-mail</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start pt-3 pt-lg-5">
                            <div>
                                <button class="button button-secondary">ODESLAT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 pl-lg-5">
                <div class="section tester-position-way d-flex flex-column align-items-center align-items-lg-start">
                    <div>
                        <h1 class="subtitle-large text-center text-lg-left">Takto u nás kurzy probíhají</h1>
                    </div>
                    <div class="project-list">
                        <ul class="left">
                            <li></li>
                            <li>
                                <div class="d-flex text-left align-items-center">
                                    <div><img src="static/images/small-icons/pergamen.png"/></div>
                                    <div class="text">
                                        <h5 class="text-weight-bold">Zaregistrujte se</h5>
                                        <span>Do některého z našich kurzů. nebo na kompletní přípravu</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center text-left">
                                    <div><img src="static/images/small-icons/line.png"/></div>
                                    <div class="text">
                                        <h5 class="text-weight-bold">Projdete online testem</h5>
                                        <span>Nezkoušíme znalosti, jen logické myšlení. K zařazení do kurzu vám stačí <br/> test zvládnout na 60 %.</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex text-left align-items-center">
                                    <div><img src="static/images/small-icons/key.png"/></div>
                                    <div class="text">
                                        <h5 class="text-weight-bold">Absolvujete školení</h5>
                                        <span>Polovina bývá praktická a polovina teoretická</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center text-left">
                                    <div><img src="static/images/small-icons/folder.png"/></div>
                                    <div class="text">
                                        <h5 class="text-weight-bold">Zařadíme vás do databáze testerů</h5>
                                        <span>Když se objeví vhodná pracovní nabídka, ​hned vám napíšeme.</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex text-left align-items-center">
                                    <div><img src="static/images/small-icons/target.png"/></div>
                                    <div class="text">
                                        <h5>Pokud vám pozici najdeme <br/> vrátíme vám peníze </h5>
                                        <span>V IT sektoru si firmy schopných lidí cení.</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

