{% extends "_base.html" %}

{% block body %}<body class="thank-you">{% endblock %}
{% block title %}Acamar | Thank you{% endblock %}

{% block content %}

<div class="page-thank-you">
	<div class="container">
		<div class="thank-you-wrapper">
			<div class="thank-you-image">
				<div class="thank-you-image-wrapper">
					<img src="static/images/checkmark.png" alt="Checkmark" class="checkmark">
					<h1>Děkujeme<br>za přihlášku na kurz!</h1>
					<p>Brzy vám přijde e-mail s přístupem do online testu z logických úloh. A tím to celé odstartujeme.</p>
					<p>Těšíme se na vás!</p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
