.page-for-firm {
  background-color: #f2f2f2;
  .main-banner-for-firm {
    position: relative;
    background-image: url(../../images/banner/hp-banner-mobile.png);
    background-repeat: no-repeat;
    background-position: 100% 25px;
    background-size: cover;
    min-height: 300px;
    display: flex;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
      padding-top: 0;
      background-image: url(../../images/banner/banner-contact.jpg);
      min-height: 360px;
      align-items: flex-end;
      background-position: top left;
    }

    .main-title {
      display: block;
      max-width: 600px;

      @include media-breakpoint-down(md) {
        max-width: unset;
      }

    }

  }

  .section {
    @include media-breakpoint-up(lg) {
      padding: 80px 0 120px 0;
    }
  }
  .ring {
    position: relative;
    @include media-breakpoint-up(lg) {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 10%);
        background-image: url(../../images/bubble4.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 1009px;
        height: 1009px;
        z-index: 0;
      }
    }
  }

  .content-graf {
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 20px;

    @include media-breakpoint-up(md) {
      padding: 50px;
      margin: 0;
    }

    h3 {
      padding-bottom: 30px;
    }

    &.third {
      .graf-image-wrapper {
        img {
          width: 240px;
          height: 180px;

          @include media-breakpoint-up(md) {
            height: auto;
            width: auto;
            max-width: 100%;
            align-self: baseline;
          }
        }
      }
    }

    .content-graf-list {
      height: 100%;

      ul {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin-right: 25px;
            width: 20px;
            height: 20px;

            @include media-breakpoint-up(lg) {
              width: 53px;
              height: 41px;
            }
          }

          p {
            max-width: 250px;
          }
        }
      }
    }

    .graf-image-wrapper {
      img {
        width: 240px;
        height: 180px;

        @include media-breakpoint-up(md) {
          width: 427px;
          height: 269px;
        }
      }
    }
  }

  .button-wrapper {
    padding-top: 60px;

    &.bubble-decor {
      position: relative;

      &::before {
        content: "";
        width: 1000px;
        height: 1000px;
        background: #dfdfdf;
        position: absolute;
        left: 50%;
        bottom: -80px;
        border-radius: 100%;
        margin-left: -500px;
      }
    }

  }

  .big-firm {
    background-color: white;

   > div {

     .hiring-team {
       display: flex;
       flex-direction: column;
       justify-content: center;
       height: 100%;
       padding: 40px 0 40px 0 ;

       @include media-breakpoint-up(md) {
         padding: 40px 120px 40px 50px;
       }
     }
   }

    .image-row {
      height: 100%;

      .col-6 {

        &:nth-child(2) {
          .img-wrapper {
            background: #6fbfbe;
          }
        }

        &:nth-child(3) {
          .img-wrapper {
            background: #272323;
          }
        }

        &:nth-child(4) {
          .img-wrapper {
            background: #4e0175;
          }
        }

      }

      > div {
        height: 50%;

        .image-logo-wrapper {
          position: relative;
          //height: 100%;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          //padding: 60px;
          transition: 0.5s;
          background-color: white;

          .img-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
          }

          &:hover .img-wrapper {  // TODO
            opacity: .8;
          }

          &.active { // TODO
            transition: 0.5s;
            z-index: 2;
            box-shadow: 0 7px 21px 1px rgba(0, 1, 36, 0.28);
            transform: scale(1.1);
            text-decoration: none;
          }

          &.ikea {
            background-color: #0051ba;
          }
          &.f {
            background-color: #ab0c42;
          }
          &.csob {
            background-color: #003466;
          }
          &.russia {
            background-color: #dd052c;

            span {
              color: #ffffff;
              font-family: "Futura LT Pro";
              font-size: 20px;
              font-weight: 300;
              line-height: 22.26px;
              text-transform: uppercase;
            }
          }
        }
      }
    }

  }
}
