/* ==========================================================================
   FRONTPAGE
   ========================================================================== */
.box-shadow-custom {
  box-shadow: 0 13px 38px -12px rgba(0,0,0,0.75);
}

.card-shadow-custom {
  box-shadow: 0 4px 9px 1px rgba(0, 0, 0, 0.14);
}

.main-banner {
  overflow: hidden;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include media-breakpoint-up(md) {
    min-height: 480px;
  }

  & > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    max-width: none;

    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  .title-wrapper {
    padding: 170px 25px 60px 25px;
    z-index: 99;

    @include media-breakpoint-down(md) {
      padding-top: 110px;
    }

    span {
      color: white;
      font-weight: 300;
    }
  }
}

.looking-wrapper {

  .looking-for-wrapper {
    color: white;
    background-color: $black;
    padding: 18px;
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      padding: 55px 40px;
      //padding: 34px 24px;
      justify-content: start;
    }

    &.looking-for-gray {
      background-color: $bg-gray;
    }

    .border-left-white {
      border-left: transparent;

      @include media-breakpoint-up(lg) {
        border-left: 1px solid rgba(255, 255, 255, 0.49);
      }
    }

    .title {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    p {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
        margin-top: 8px;
        margin-bottom: 16px;
        font-size: 14px;
      }
    }
  }

  .py-3 {
    padding-bottom: 3rem !important;

    @include media-breakpoint-down(md) {
      padding-bottom: 1rem !important;
    }

  }

  .button {
    position: absolute;
    bottom: 55px;

    @include media-breakpoint-down(md) {
      position: relative;
      bottom: auto;
    }

  }
}

/* ==========================================================================
   Well work
   ========================================================================== */
.work-section {
  background-image: url("../../images/why-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 0;

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }

  .title-work {
    max-width: 260px;
    font-size: 22px;
    font-weight: bold;

    @include media-breakpoint-up(md) {
      max-width: none;
    }
  }

  .elipse-background {

    @include media-breakpoint-up(md) {
      background-image: url('../../images/elipsa.svg');
      background-size: 100%;
      min-height: 530px;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .work-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      min-height: 220px;

      @include media-breakpoint-up(md) {
        min-height: 280px;
        margin-top: 60px;
      }

      .wrapper-image {
        height: 80px;

        @include media-breakpoint-up(lg) {
          height: 120px;
        }

        img {
          max-height: 100%;
        }
      }
    }
  }



  .text-wrapper {
    max-width: 250px;
    text-align: center;

    .subtitle-work {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 6px;

      @include media-breakpoint-up(md) {
        font-size: 20px;
      }
    }

    .description-work {
      font-size: 16px;
      font-weight: 300;
      line-height: 18.5px;
    }
  }
}


/* ==========================================================================
   Reviews
   ========================================================================== */
.reviews-section {
  padding: 40px 0;
  height: 800px;

  .custom-container-lg {
    max-width: 1140px !important;
  }

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  .title-reviews {
    max-width: 280px;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      max-width: none;
    }
  }

  .title-light {
    font-weight: 400;
  }

  .dots {
    width: 100%;
    display: flex;
    margin: 60px 0 0 0;
    justify-content: center;
    padding: 0;

    li {
      list-style: none;
      margin: 0 5px;

      &.active button {
        background: #ed002d;
      }

      button {
        display: block;
        width: 12px;
        height: 12px;
        background: #000;
        margin: 0;
        padding: 0;
        min-height: unset;
        border-radius: 100%;
        transition: all .2s linear;

        &:hover {
          background: #ed002d;
        }

      }
    }

  }
}


/* ==========================================================================
   Teamwork
   ========================================================================== */

.teamwork-section {
  position: relative;
  padding: 40px 0 70px 0;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    padding: 80px 0 200px 0;

    &:before {
      content: '';
      position: absolute;
      background-image: url(../../images/elipsa-reviews-large.svg);
      background-size: 700px;
      height: 700px;
      width: 700px;
      background-position: bottom center;
      bottom: -40%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-repeat: no-repeat;
    }
  }

  img {
    max-height: 37px;
    max-width: 100%;

    @include media-breakpoint-up(md) {
      max-height: 58px;
      max-width: 170px;
    }
  }

  .button-wrapper {
    width: 100%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 10%;
  }
}


/* ==========================================================================
   Course
   ========================================================================== */

.course-section {
  background-image: url(../../images/course-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 0;

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }


  .title-course {
    margin-bottom: 0;
    max-width: 210px;

    @include media-breakpoint-up(md) {
      max-width: none;
    }

    &.light-text {
      font-weight: 300;
    }
  }

  .change-prof {
    font-weight: 700;

    @include media-breakpoint-up(md) {
      max-width: 610px;
      font-size: 18px;
    }
  }

  .card-wrapper {
    height: 100%;
  }

  .card {
    padding-bottom: 0;
    height: 100%;
  }

  .card-top {
    min-height: 110px;
  }

  .card-body {
    width: 100%;
    max-width: 100%;

    &::after {
      content: "";
      width: 670px;
      height: 732px;
      border-radius: 50%;
      position: absolute;
      left: calc(50%);
      top: 0;
      bottom: auto;
      transform: translateX(-50%);
      overflow: hidden;
      background-color: #f3f3f3;
      border: none;
      z-index: -1;
    }
  }

  .card-footer {
    display: none;
  }

}

