{% extends "_base.html" %}

{% load meta static i18n cms_tags utils %}

{% block title %}{{ object.title }}{% endblock %}

{% block meta %}
    {% include 'meta/meta.html' %}
{% endblock %}

{% block content %}
    <div class="page-course-detail">
        <div class="main-banner-course-detail">
            <div class="container container-lg">
                <div class="text-center text-lg-left px-sm-5 px-xl-0">
                    <h1 class="main-title title-course">{{ object.main_banner_title }}</h1>
                </div>
            </div>
        </div>
        {% render_placeholder object.content %}
    </div>
{% endblock %}
