django<2.2
djangocms_admin_style
sentry-sdk
django-webpack-loader
django-cms
django-polymorphic
django-filer
djangocms-text-ckeditor
djangocms-page-meta
requests
django-admin-sortable
django-modeltranslation
django-extensions
python-dateutil
git+https://github.com/django-haystack/django-haystack@master#egg=django-haystack
elasticsearch>=5,<6
django-safedelete
django-crontab
django-rosetta