django<2.2
djangocms_admin_style
sentry-sdk
django-webpack-loader
django-cms
django-polymorphic
django-filer
djangocms-text-ckeditor
djangocms-page-meta
requests
django-admin-sortable
django-modeltranslation
django-extensions
python-dateutil
django-haystack
django-safedelete
django-crontab
django-rosetta