django<1.9
djangocms_admin_style
raven
django-webpack-loader
django-cms
django-polymorphic==1.3
django-filer
djangocms-text-ckeditor
djangocms-page-meta
requests[security]
django-admin-sortable
django-modeltranslation
django-extensions
python-dateutil
whoosh
django-haystack<2.8.0
django-safedelete