{% extends "_base.html" %}

{% load i18n static %}

{% block body_attributes %}class="error404"{% endblock %}
{% block title %}404 — Acamar{% endblock %}

{% block meta %}
    <meta name="description" content="{% trans "Hledali jste pozici Programátor Hvězdy smrti? Tu vám nedohodíme. Ale mnoho jiných lukrativních IT pozic ano!" %}">
{% endblock %}

{% block body_behind %}
<script>
    dataLayer.push({'event':'404'});
</script>
{% endblock %}

{% block content %}

<div class="page-404">
    <div class="container">
        <div class="error404-wrapper">
            <div class="error404-title">
                <h1>{% trans "Hledali jste pozici" %}<br>
                    <strong>{% trans "Programátor hvězdy smrti?" %}</strong>
                </h1>
            </div>
            <div class="error404-image">
                <img src="{% static "acamar_web/images/404-planet.png" %}" alt="{% trans "Hvězda smrti 404" %}">
            </div>
            <div class="error404-back">
                <span>{% trans "Ne?" %}</span><br>
                <a href="{{ link }}" title="{% trans "Vrátit se zpět" %}">{% trans "Zkuste se vrátit zpět" %}</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
