{% extends "_base.html" %}

{% load cms_tags sekizai_tags page_meta_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}
{% block meta %}
    {% page_meta request.current_page as meta %}
    {% include 'djangocms_page_meta/meta.html' with meta=meta %}
{% endblock %}

{% block content %}
    <div class="page homepage">
        {% placeholder "main_banner" %}
        {% placeholder "basic" %}
{#        <div class="teamwork-section">#}
{#            <div class="container container-xlg">#}
{#                <div class="text-center pb-5">#}
{#                    <h4 class="subtitle-large">Spolupracujeme s největšími organizacemi v oboru</h4>#}
{#                </div>#}
{#                <div class="row pb-5 text-center d-flex align-items-center justify-content-center">#}
{#                    <div class="col-6 col-md-4 col-lg py-3"><img src="static/images/clients/plzensky-prazdroj.jpg" /></div>#}
{#                    <div class="col-6 col-md-4 col-lg py-3"><img src="static/images/clients/flextronics.jpg" /></div>#}
{#                    <div class="col-6 col-md-4 col-lg py-3"><img src="static/images/clients/deloitte.jpg" /></div>#}
{#                    <div class="col-6 col-md-4 col-lg py-3"><img src="static/images/clients/adastra.jpg" /></div>#}
{#                    <div class="col-6 col-md-4 col-lg py-3"><img src="static/images/clients/allianz.png" /></div>#}
{#                    <div class="col-6 col-md-4 col-lg py-3"><img src="static/images/clients/ccs.jpg" /></div>#}
{#                    <div class="col-12 col-md-4 col-lg py-3"><img src="static/images/clients/cortis-consulting.jpg"/></div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="button-wrapper d-flex justify-content-center pt-md-5">#}
{#                <a class="button button-secondary button-arrow-right button-arrow-white" href="we-are.html">Více o acamaru</a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="course-section">#}
{#            <div class="container">#}
{#                <div class="d-flex align-items-center justify-content-center text-center flex-column mb-5">#}
{#                    <h4 class="subtitle-large title-course">Láká vás IT, ale teprve se učíte?</h4>#}
{#                    <h4 class="subtitle-large title-course light-text mb-4">Máme také kurzy</h4>#}
{#                    <p class="change-prof">Chcete změnit obor a táhne vás to do IT? Nebo informatiku už studujete, ale chcete si vyzkoušet něco z praxe? Vyberte si z našich školení.</p>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 pr-md-0 mb-3 mb-md-0">#}
{#                        <div class="card-wrapper pb-2  pb-lg-5 pb-lg-0">#}
{#                            <div class="card zoom-card box-shadow-custom">#}
{#                                <div class="card-top">#}
{#                                    <h5 class="card-title">Kurz testing</h5>#}
{#                                    <p class="training">Školení "testing" je pro nováčky v IT, kteří se chtějí učit. Seznámíme tě se základy testování. Školení jsme rozdělili na dva bloky a to teoretickou a praktickou část.</p>#}
{#                                </div>#}
{#                                <div class="card-body py-md-3">#}
{#                                    <ul class="pt-lg-4">#}
{#                                        <li><img src="static/images/small-icons/tag.png" /><span class="card-li-text">Cena: <span>3 000 Kč</span></span></li>#}
{#                                        <li><img src="static/images/small-icons/timer.png" /><span class="card-li-text">Délka školení: <span>2 x 4hod</span></span></li>#}
{#                                        <li><img src="static/images/small-icons/location.png" /><span class="card-li-text">Místo školení: <span>Praha</span></span></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="card-footer">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 pr-md-0 mb-3 mb-md-0">#}
{#                        <div class="card-wrapper pb-2  pb-lg-5 pb-lg-0">#}
{#                            <div class="card zoom-card box-shadow-custom">#}
{#                                <div class="card-top">#}
{#                                    <h5 class="card-title">Kurz testing</h5>#}
{#                                    <p class="training">Školení "testing" je pro nováčky v IT, kteří se chtějí učit. Seznámíme tě se základy testování. Školení jsme rozdělili na dva bloky a to teoretickou a praktickou část.</p>#}
{#                                </div>#}
{#                                <div class="card-body py-md-3">#}
{#                                    <ul class="pt-lg-4">#}
{#                                        <li><img src="static/images/small-icons/tag.png" /><span class="card-li-text">Cena: <span>3 000 Kč</span></span></li>#}
{#                                        <li><img src="static/images/small-icons/timer.png" /><span class="card-li-text">Délka školení: <span>2 x 4hod</span></span></li>#}
{#                                        <li><img src="static/images/small-icons/location.png" /><span class="card-li-text">Místo školení: <span>Praha</span></span></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="card-footer">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 pr-md-0 mb-3 mb-md-0">#}
{#                        <div class="card-wrapper pb-2  pb-lg-5 pb-lg-0">#}
{#                            <div class="card zoom-card box-shadow-custom">#}
{#                                <div class="card-top">#}
{#                                    <h5 class="card-title">Kurz testing</h5>#}
{#                                    <p class="training">Školení "testing" je pro nováčky v IT, kteří se chtějí učit. Seznámíme tě se základy testování. Školení jsme rozdělili na dva bloky a to teoretickou a praktickou část.</p>#}
{#                                </div>#}
{#                                <div class="card-body py-md-3">#}
{#                                    <ul class="pt-lg-4">#}
{#                                        <li><img src="static/images/small-icons/tag.png" /><span class="card-li-text">Cena: <span>3 000 Kč</span></span></li>#}
{#                                        <li><img src="static/images/small-icons/timer.png" /><span class="card-li-text">Délka školení: <span>2 x 4hod</span></span></li>#}
{#                                        <li><img src="static/images/small-icons/location.png" /><span class="card-li-text">Místo školení: <span>Praha</span></span></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="card-footer">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div> <div class="col-12 col-sm-6 col-md-6 col-lg-3 pr-md-0 mb-3 mb-md-0">#}
{#                    <div class="card-wrapper pb-2  pb-lg-5 pb-lg-0">#}
{#                        <div class="card zoom-card box-shadow-custom">#}
{#                            <div class="card-top">#}
{#                                <h5 class="card-title">Kurz testing</h5>#}
{#                                <p class="training">Školení "testing" je pro nováčky v IT, kteří se chtějí učit. Seznámíme tě se základy testování. Školení jsme rozdělili na dva bloky a to teoretickou a praktickou část.</p>#}
{#                            </div>#}
{#                            <div class="card-body py-md-3">#}
{#                                <ul class="pt-lg-4">#}
{#                                    <li><img src="static/images/small-icons/tag.png" /><span class="card-li-text">Cena: <span>3 000 Kč</span></span></li>#}
{#                                    <li><img src="static/images/small-icons/timer.png" /><span class="card-li-text">Délka školení: <span>2 x 4hod</span></span></li>#}
{#                                    <li><img src="static/images/small-icons/location.png" /><span class="card-li-text">Místo školení: <span>Praha</span></span></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                            <div class="card-footer">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                </div>#}
{#                <div class="button-wrapper d-flex justify-content-center my-4 my-md-5">#}
{#                    <a class="button button-secondary button-arrow-right button-arrow-white" href="course.html">CHCI VĚDĚT VÍCE O KURZECH</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}