{% extends "_base.html" %}

{% load cms_tags sekizai_tags page_meta_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}
{% block meta %}
    {% page_meta request.current_page as meta %}
    {% include 'djangocms_page_meta/meta.html' with meta=meta %}
{% endblock %}

{% block content %}
    <div class="page-login-course">
        {% placeholder "main_banner" %}

        <div class="container container-lg">
            <div class="row">
                {% placeholder "enroll_in_course" %}
                <div class="col-12 col-lg-6 pl-lg-5">
                    <div class="section tester-position-way d-flex flex-column align-items-center align-items-lg-start">
                        <div>
                            <h1 class="subtitle-large text-center text-lg-left">Takto u nás kurzy probíhají</h1>
                        </div>
                        <div class="project-list">
                            <ul class="left">
                                <li></li>
                                <li>
                                    <div class="d-flex text-left align-items-center">
                                        <div><img src="static/images/small-icons/pergamen.png"/></div>
                                        <div class="text">
                                            <h5 class="text-weight-bold">Zaregistrujte se</h5>
                                            <span>Do některého z našich kurzů. nebo na kompletní přípravu</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center text-left">
                                        <div><img src="static/images/small-icons/line.png"/></div>
                                        <div class="text">
                                            <h5 class="text-weight-bold">Projdete online testem</h5>
                                            <span>Nezkoušíme znalosti, jen logické myšlení. K zařazení do kurzu vám stačí <br/> test zvládnout na 60 %.</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex text-left align-items-center">
                                        <div><img src="static/images/small-icons/key.png"/></div>
                                        <div class="text">
                                            <h5 class="text-weight-bold">Absolvujete školení</h5>
                                            <span>Polovina bývá praktická a polovina teoretická</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center text-left">
                                        <div><img src="static/images/small-icons/folder.png"/></div>
                                        <div class="text">
                                            <h5 class="text-weight-bold">Zařadíme vás do databáze testerů</h5>
                                            <span>Když se objeví vhodná pracovní nabídka, ​hned vám napíšeme.</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex text-left align-items-center">
                                        <div><img src="static/images/small-icons/target.png"/></div>
                                        <div class="text">
                                            <h5>Pokud vám pozici najdeme <br/> vrátíme vám peníze </h5>
                                            <span>V IT sektoru si firmy schopných lidí cení.</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

