{% extends "_base.html" %}

{% load cms_tags sekizai_tags page_meta_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}
{% block meta %}
    {% page_meta request.current_page as meta %}
    {% include 'djangocms_page_meta/meta.html' with meta=meta %}
{% endblock %}

{% block content %}
    <div class="page-privacy-policy">
        {% placeholder "main_banner" %}

        <div class="container container-lg mt-5 mb-5">
            <div class="row">
                {% placeholder "privacy_policy" %}
            </div>
        </div>
    </div>
{% endblock %}

